<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


</style>
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/StatsPage">Statistics</a>
  <a href="/PredictPage">Prediction</a>
  <a class="active" href="/InfoPage">Info</a>
</div>

<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h2>Dengue Fever</h2>
    <p>Dengue fever is a viral infection transmitted by infected mosquitos</p>
    <h3>Preventative Measures</h3>
    <p>As the virus is spread by mosquitos taking measures to prevent being bitten is regarded as the best way avoid infection. Such measures include wearing full body covering clothes, mosquito nets for when you are sleeping, repellents (containing DEET, Picaridin or IR3535). There is also a vaccine(Dengvaxia), but it is only admissable to children between 9 and 16 who have already had a previously confirmed case of Dengue. </p>
    <h3>Symptoms</h3>
    <p>Dengue typically results in typical virus symptoms like a fever, headache, muscle pain, nausea and swollen glands. While people at risk could potentially develop severe Dengue resulting in more serious symptoms including, but not limited to: bleeding gums or nose, severe abdominal pain, persistent vomiting and blood in vomit or stool.</p>
    <h3>Treatment</h3>
    <p>There is no specific treatment for Dengue and recommended measures are to treat the symptoms as they arise, so getting plenty of rest, staying hydrated and taking paracetamol to ease pain or rising temperatures. Do not take anti-inflammatory painkillers like ibuprofen due to the fact they can cause bleeding problems in dengue patients. In the case of severe Dengue you will have to remain hospitalised until you recover.</p>
    <h3>Further resources:</h3>
    <ul>
      <li><a href="https://www.nhs.uk/conditions/dengue/">NHS</a></li>
      <li><a href="https://www.who.int/news-room/fact-sheets/detail/dengue-and-severe-dengue">WHO</a></li>
      <li><a href="https://www.cdc.gov/dengue/index.html">CDC</a></li>
    </ul>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h2>Influenza</h2>
    <p>Influenza is a contagious respiratory illness caused by a viral infection.</p>
    <h3>Preventative Measures</h3>
    <p>The flu is primarily spread by airborne water droplets expelled when people cough or sneeze, so key ways to prevent infection is to avoid people who are sick, frequently handwashing with antibacterial soap/gel and covering your face with a mask. People are typically most contagious for the first 3-4 days after the illness begins. Another key step in preventing the flu is to remain up to date with the flu vaccine each year.</p>
    <h3>Symptoms</h3>
    <p>The flue can cause mild to severe illness often presenting itself with symptoms such as a fever, coughing, sore throat, headache and general muscle fatigue/aches. Complications of flu can lead to further medical issues like ear infections, pneumonia and the worsening of chronic medical condtions e.g. Asthma, heart failure or diabetes.</p>
    <h3>Treatment</h3>
    <p>Treatment largely consists of symptomatic treatment through rest, hydration and painkillers. In the case of severe or progressive illness it is recommended to seek medical assistance where you will be promptly treated with an antiviral drug (Neuraminidase inhibitors)</p>
    <h3>Further resources:</h3>
    <ul>
      <li><a href="https://www.nhs.uk/conditions/flu/">NHS</a></li>
      <li><a href="https://www.who.int/news-room/fact-sheets/detail/influenza-(seasonal)">WHO</a></li>
      <li><a href="https://www.cdc.gov/flu/about/keyfacts.htm#:~:text=Flu%20is%20a%20contagious%20respiratory,a%20flu%20vaccine%20each%20year.">CDC</a></li>
    </ul>
  </div>
  <div class="column" style="background-color:#aaa;">
    <h2>Diarrhoea diseases</h2>
    <p>Diarrhoea is the excretion of 3 or more liquid faeces in a single day and is usually caused by a stomach bug. Stomach bugs is most commonly caused by consuming unsanitary water or food.</p>
    <h3>Preventative Measures</h3>
    <p>To prevent the contraction of diarrhoea causing stomach bugs make sure to disinfect hands frequently and avoid consuming unsanitary water or unsafe foods.</p>
    <h3>Symptoms</h3>
    <p>Diarrhoea is a symptom itself where liquid excrement is expelled at least 3 times in a day. The diarrhoea can lead to dehydration and malnutrition, as well as cause further infections.</p>
    <h3>Treatment</h3>
    <p>General treatment for diarrhoea consists of mixing oral hydration sachets with clean water and taking medicine(loperamide) at the disgression of your pharmacist/doctor.</p>
    <h3>Further resources:</h3>
    <ul>
      <li><a href="https://www.nhs.uk/conditions/diarrhoea-and-vomiting/">NHS</a></li>
      <li><a href="https://www.who.int/news-room/fact-sheets/detail/diarrhoeal-disease">WHO</a></li>
      <li><a href="https://data.unicef.org/topic/child-health/diarrhoeal-disease/">UNICEF</a></li>
    </ul>
  </div>
</div>